:root{
    overflow-x: hidden;
}
  
body{
    overflow-x: hidden;
}

.page-container{
    margin: 100px auto 50px;
    background-color: white;
    min-height: 100vh;
    box-sizing: border-box;
}

.page-content{
    width: 900px;
    max-width: 90%;
    margin: 100px auto 50px;
    background-color: white;
    padding: 10px;
}

.page-container__wrapper{
    max-width: 100%;
}

.service-description{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.service-description__picture-container {
    position: relative;
    flex-shrink: 0;
    width: 650px;
    max-width: 80%;
    padding: 10px;
    background: white;
    box-sizing: border-box;
    box-shadow: 25px 25px 25px #ccc1c1;
    height: fit-content;
}

.service-description__picture {
    max-width: 100%;
    height: auto;
    position: relative;
    top: -10px;
    left: -10px;
}

.service-description__separator-line{
    position: absolute;
    width: 250px;
    height: 1px;
    border-bottom: 1.5px solid black;
    z-index: 1;
    top: 50%;
    left: 65%;   
}

.service-description__text-container{
    display: flex;
    flex-direction: column;
    width: auto;
    flex-grow: 1;
    padding: 2rem;
}



@media only screen and (min-width: 566px) {
    .service-description__picture-container{
        max-width: 50%;
    }
    
    .service-description__text-container{
        padding: 0rem 0.5rem 0rem 2.2rem;
    }

    .service-description{
        flex-direction: row;
    }
    .service-description__text-wrapper{
       padding: 2rem;
    }

    .service-description__separator-line{
        width: 130px;
    }
}

@media only screen and (min-width: 1024px) {
    .service-description__text-wrapper{
        z-index: 3;
        background: white;
        position: relative;
    }

    .service-description__text-container{
        margin-left: 1rem;
    }

    .service-description__separator-line{
        width: 200px;
    }
}

@media only screen and (min-width: 1326px) {
    .service-description__text-container{
        padding: 8rem 7rem;
    }

    .service-description__separator-line{
        width: 225px;
    }
}
