.page-content{
    border: 2px solid black;
    width: 900px;
    max-width: 90%;
    margin: 100px auto 50px;
    background-color: rgba(235, 236, 213, 0.383);
    padding: 10px;
}


.page-container__wrapper{
    max-width: 100%;
}

.page-section{
    padding: 10px;
    background-color: rgb(241, 231, 88);
    min-height: 100vh;
    box-sizing: border-box;
}